@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #32022e 0%, #100117 100%);
  color: #cdc4d0;
  font-family: Montserrat;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  padding: 1em;
}

/* menu and logo row */
.logo-menu {
  display: flex;
  cursor: pointer;
}

/* logo svg */
.logo-img {
  width: 8.5em;
  margin-top: 0.5em;
}

/* menu svg */
.menu-icon {
  width: 2em;
}

/* menu div */
.menu {
  cursor: pointer;
  position: absolute;
}

/* the hamburger menu  */
.menu-items {
  margin: 0;
  padding: 0;
  position: fixed;
  background: #100117;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  place-content: center;
  z-index: 5;
  display: none;
}

/* the hamburger menu elements */
.elm {
  color: #cdc4d0;
  text-decoration: none;
  padding: 1em;
  margin: 0.4em;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}

.elm::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #ffc500;
  margin-top: 6px;
  transition: width 0.3s;
}

.elm:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.logo {
  margin-top: 0.5em;
  cursor: pointer;
  /* new */
  margin: auto;
  display: block;
  position: unset;
}

.open-nav {
  display: grid;
}

.exit {
  position: absolute;
  top: 2em;
  left: 2em;
  cursor: pointer;
}

@media (min-width: 600px) {
  body {
  }

  .logo {
    cursor: pointer;
    margin-top: 0;
  }

  .navbar {
    padding: 1em;
    display: flex;
  }

  .logo-img {
    width: 7em;
    cursor: pointer;
  }

  .exit,
  .menu {
    display: none;
  }

  .menu-items {
    display: flex;
    background: none;
    justify-content: flex-end;
    margin-right: 2em;
    height: unset;
    position: absolute;
  }

  .elm {
    margin: 0.6em 1em 0 0;
    font-size: 0.7em;
  }
}

@media (min-width: 650px) {
  .logo {
    padding-left: 16px;
  }
}

@media (min-width: 750px) {
  .elm {
    margin: 1em 2em 0 0;
    font-size: 0.75em;
  }
}

@media (min-width: 900px) {
  .logo {
    margin: 0.5em 0 0 1em;
    cursor: pointer;
  }

  .logo-img {
    width: 10em;
  }

  .elm {
    margin: 1em 2em 0 0;
    font-size: 0.9em;
    font-weight: normal;
  }
}
