.cards-header.character-header {
  width: 6em;
}

.left-col.character-left-col {
  width: 100%;
  left: 4px;
  top: 42px;
  margin-right: 2em;
  margin-left: -1em;
  text-align: center;
  z-index: 1;
}

.title-link.character-title-link {
  position: unset;
  font-weight: 600;
}

.gender {
  color: black;
  font-size: 0.88em;
  margin-top: 8px;
}

.avatar {
  object-fit: contain;
  height: 100%;
  width: 4em;
}

.image-circle.avatar-circle {
  text-align: center;
  left: 3em;
  z-index: 1;
}

.character-card {
  z-index: 0;
  position: relative;
  max-width: 350px;
}

.character-card .single-card {
  padding: 1em;
  min-height: 90px;
  margin-bottom: 5em;
  background: #e4e2e2;
  min-width: 263px;
}

.card-bg {
  position: absolute;
  z-index: 1;
}

.character-card .right-col {
  z-index: 2;
  font-weight: 400;
  margin-bottom: 16px;
}

.character-card .expanded {
  margin-top: -6em;
}

@media (min-width: 350px) {
  .left-col.character-left-col {
    left: 0;
    width: 70%;
  }
  .character-card .right-col {
    margin-bottom: 1.5em;
    padding-top: 1em;
  }

  .character-card .detail-box {
    font-size: 14px;
  }
}

/* @media (min-width: 700px) {
  .cards-header.character-header {
    font-size: 2em;
  }

  .card.character-card {
    margin: 0;
  }
} */
