/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.film-header {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 2em auto 3.5em;
  position: relative;
}
span {
  position: relative;
}

#text-Design:before {
  content: "";
  height: 4px;
  width: 120%;
  background: #7b3232;
  position: absolute;
  top: -6px;
  right: 20px;
  left: -35px;
}

#text-Design:after {
  content: "";
  height: 4px;
  width: 16%;
  background: #7b3232;
  position: absolute;
  top: 3px;
  right: 20px;
  left: -35px;
}

.card-holder {
  margin-top: 1em;
}

.film-card {
  background: #e4e2e2;
  margin: 1em 0 5em 0;
  padding: 2em;
  position: relative;
  border-radius: 13px;
}

.poster-circle {
  background: #7b3232;
  height: 6em;
  width: 6em;
  border-radius: 50%;
  position: absolute;
  top: -3em;
  left: 2em;
  border: 1px solid #c6bebe;
}

.poster-img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

.mb {
  margin: 1em 2em;
  padding-bottom: 1em;
}

.detail-box {
  display: flex;
}

.left-col {
  width: 40%;
  position: relative;
}

.film-title-link {
  text-decoration: none;
  position: absolute;
  color: black;
  font-size: 1em;
  font-weight: bold;
  left: 0;
  top: 40px;
}

.right-col {
  width: 60%;
  padding-left: 0.7em;
  color: black;
  font-size: 0.9em;
}

.margin-b {
  margin-bottom: 0.5em;
}

.expand-btn {
  color: black;
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  display: unset;
}

.arrow-icon {
  margin-left: 4px;
}

.expanded {
  color: black;
  font-size: 0.8em;
  display: flex;
  margin-top: 20px;
}

.not-expanded {
  display: none;
}

.column {
  width: 33.33%;
  padding: 0.5em;
}

.read-more {
  font-size: 0.9em;
  position: absolute;
  bottom: 4px;
  left: 36px;
  padding: 6px;
  margin-bottom: 7px;
  cursor: pointer;
  border-radius: 7px;
  background: #702b31;
}

.read-more-link {
  color: #e4e2e2;
  text-decoration: none;
}

@media (min-width: 800px) {
  .card-holder {
    display: grid;
    grid-gap: 0 2em;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
  }
  .mb {
    margin: 1em 3em;
  }

  .film-header {
    font-size: 2.5em;
    margin: 2em auto 2.5em;
  }
}

@media (min-width: 1800px) {
  .card-holder {
    display: grid;
    grid-gap: 0 4em;
    margin: 0 auto;
    max-width: 1600px;
    grid-template-columns: repeat(3, 1fr);
  }
}
