.content-info {
  margin-top: 1.5em;
}

.film-container {
  background: #e4e2e2;
  padding: 1em;
  text-align: center;
  margin-top: -4em;
  position: relative;
  z-index: 1;
  color: black;
  font-size: 0.7em;
  min-height: 85vh;
  min-width: 249px;
}
.poster-container {
  position: relative;
  z-index: 2;
}

.image-circle.single-circ {
  height: 7em;
  width: 7em;
  top: -4em;
  margin: auto;
  display: block;
  position: unset;
  border: 2px solid;
}

.image-img.single-img {
  height: 7em;
  width: 7em;
}

.film-name-header {
  font-size: 1.5em;
  font-weight: bold;
  color: #7b3232;
  margin-top: 3em;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link:hover {
  color: #7b3232;
}

.ep-dir-row {
  display: flex;
  justify-content: center;
  line-height: 2.5em;
}

.extra-r-padd {
  padding-right: 2em;
}

.information-card {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.info-header {
  font-weight: bold;
  text-transform: uppercase;
}

.info-col {
  padding: 1em;
  line-height: 2em;
}

#img-design {
  position: relative;
}
#img-design::before {
  background: #ffc500;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 2em;
  left: -2em;
  content: "";
  z-index: -1;
}

#img-design::after {
  background: #7b3232;
  height: 4.2em;
  width: 4.2em;
  border-radius: 50%;
  position: absolute;
  top: 3em;
  left: 5.5em;
  content: "";
  z-index: -2;
}

@media (min-width: 400px) {
  .film-container {
    font-size: 0.82em;
  }
}

@media (min-width: 400px) {
  .film-container {
    font-size: 0.9em;
  }
}

@media (min-width: 700px) {
  .film-container {
    display: flex;
  }

  .left-info-col {
    width: 30%;
    font-size: 1.3em;
    line-height: 2.5em;
    margin: 1em 3em;
  }

  .ep-dir-row {
    display: unset;
    line-height: unset;
  }

  .extra-r-padd {
    padding-right: 0;
  }

  .poster-circle.single-circ {
    height: 9em;
    width: 9em;
    margin: 0em 0 -5em 6em;
    border: 3px solid;
    border-radius: 50%;
  }

  .poster-img.single-img {
    height: 9em;
    width: 9em;
    border-radius: 50%;
  }

  #img-design::before {
    height: 4.5em;
    width: 4.5em;
    top: 1em;
    left: -2.5em;
  }
  #img-design::after {
    height: 5.2em;
    width: 5.2em;
    left: 7.5em;
  }

  .info-header {
    font-size: 1.2em;
    margin-bottom: 1.3em;
  }

  .circles {
    position: absolute;
    width: 485px;
    height: 676px;
    overflow: hidden;
    background: url("../../utils/resources/Subtract.svg");
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }

  .circles::before {
    background: rgba(123, 50, 50, 0.21);
    border-radius: 50%;
    height: 10em;
    width: 10em;
    position: absolute;
    bottom: 2em;
    left: 0em;
    content: "";
    z-index: -2;
  }

  .circles::after {
    background: rgba(234, 203, 43, 0.69);
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: absolute;
    bottom: -2em;
    left: 6em;
    content: "";
    z-index: -2;
  }
}

@media (min-width: 1100px) {
  .poster-circle.single-circ {
    margin: 0em 0 -7em 12em;
    height: 11em;
    width: 11em;
  }
  .poster-container {
    margin-top: 2em;
  }
  .left-info-col {
    font-size: 1.5em;
    margin: -1em 2em;
    width: 35%;
  }
  .film-name-header {
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 4em;
  }
  .poster-img.single-img {
    height: 11em;
    width: 11em;
  }
  #img-design::before {
    height: 6.5em;
    width: 6.5em;
  }
  #img-design::after {
    height: 7.2em;
    width: 7.2em;
  }
  .info-col {
    font-size: 1.3em;
  }
  .info-header {
    font-size: 1.1em;
  }
}

@media (min-width: 1400px) {
  body {
    text-align: -webkit-center;
  }
  .content-info {
    max-width: 1400px;
  }
  .film-container {
    margin-top: 3em;
    border-radius: 91px;
  }
  .poster-circle.single-circ {
    margin: 0em 0 -8em -47em;
  }
}
