/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.cards-header {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 2em auto 3.5em;
  position: relative;
}
span {
  position: relative;
}

#text-Design:before {
  content: "";
  height: 4px;
  width: 120%;
  background: #7b3232;
  position: absolute;
  top: -6px;
  right: 20px;
  left: -35px;
}

#text-Design:after {
  content: "";
  height: 4px;
  width: 16%;
  background: #7b3232;
  position: absolute;
  top: 3px;
  right: 20px;
  left: -35px;
}

.card-holder {
  margin-top: 1em;
}

.single-card {
  background: #e4e2e2;
  margin: 1em 0 0 0;
  padding: 1em;
  position: relative;
  border-radius: 13px;
  margin-bottom: 4em;
  font-size: 0.8em;
  /* min-width: 332px; */
}

.single-card.single-card-expanded {
  border-radius: 13px 13px 0 0;
  margin-bottom: 0;
}

.image-circle {
  background: #7b3232;
  height: 6em;
  width: 6em;
  border-radius: 50%;
  position: absolute;
  top: -3em;
  left: 2em;
  border: 1px solid #c6bebe;
}

.image-img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

.mb {
  margin: 1em 1em;
  padding-bottom: 1em;
}

.detail-box {
  display: flex;
}

.left-col {
  width: 40%;
  position: relative;
}

.title-link {
  text-decoration: none;
  position: absolute;
  color: black;
  font-size: 1em;
  font-weight: bold;
  left: 0;
  top: 40px;
}

.right-col {
  width: 60%;
  padding-left: 0.7em;
  color: black;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.margin-b {
  margin-bottom: 0.5em;
}

.expand-btn {
  color: black;
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  display: unset;
}

.arrow-icon {
  margin-left: 4px;
}

.expanded {
  color: black;
  font-size: 0.8em;
  display: block;
  margin-bottom: 6em;
  transform: scaleY(1);
  background: #e4e2e2;
  border-radius: 0 0 13px 13px;
  position: relative;
  transform-origin: top;
  overflow: hidden;
  height: auto;
  transition: transform 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  padding: 0.5em 2em;
  font-size: 0.7em;
}

.not-expanded {
  display: table-column;
  transform: scaleY(0);
  position: relative;
}

.card {
  max-width: 450px;
  margin: 0 auto;
  min-width: 230px;
  display: inherit;
}

.columns-container {
  display: flex;
  margin: 0 auto;
}

.column {
  width: 33.33%;
  padding: 0.5em;
}

.column.first {
  position: relative;
  margin-bottom: 26px;
}

.read-more {
  font-size: 0.9em;
  position: sticky;
  padding: 6px;
  cursor: pointer;
  background: #702b31;
  margin: 0 auto;
  border-radius: 15px;
  width: 88px;
  text-align: center;
  bottom: 10px;
}

.read-more-link {
  color: #e4e2e2;
  text-decoration: none;
}

a.expanded-links {
  text-decoration: none;
  color: black;
}

a.expanded-links:hover {
  color: #7b3232;
}

@media (min-width: 400px) {
  /* .single-card {
    padding: 2em;
    font-size: 0.9em;
  } */
  .mb {
    margin: 1em 2em;
  }

  .right-col {
    margin-bottom: 0;
  }
  .expanded {
    font-size: 0.78em;
  }

  .read-more {
    font-size: 1em;
    width: 100px;
  }
  .expand-btn {
    font-size: 0.8em;
    bottom: -4px;
  }
}

@media (min-width: 700px) {
  .card-holder {
    display: grid;
    grid-gap: 0 2em;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 870px;
  }
  .mb {
    margin: 1em 3em;
  }

  .cards-header {
    font-size: 2.5em;
    margin: 2em auto 2.5em;
  }
  .expanded {
    transform: scaleY(1);
  }
  .not-expanded {
    display: flex;
    align-content: center;
    text-align: center;
  }

  .single-card {
    margin-bottom: 0;
    border-radius: 13px 13px 0 0;
  }

  .expand-btn {
    display: none;
  }

  .read-more {
    width: 144px;
    /* position: sticky; */
  }

  .not-expanded {
    display: block;
  }
}

@media (min-width: 1200px) {
  .card-holder {
    display: grid;
    grid-gap: 0 3em;
    margin: 0 auto;
    max-width: 1600px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}
